<div class="col-12">
    <article class="card my-3">
        <div class="card-header">
            <h1 class="card-title"> {{post.title}} </h1>
        </div>
        <div class="card-body">
            <p class="post-content">
                {{post.body}}
            </p>
            <ul class="comments-list list-unstyled border-top">
                <h2 class="my-3">Comments</h2>
                <li class="my-2" *ngFor="let comment of comments">
                    <h4 class="mb-0 name"> {{comment.name}} </h4>
                    <span class="email"> {{comment.email}} </span>
                    <p class="comment"> {{comment.body}} </p>
                </li>
            </ul>
        </div>
    </article>
</div>